.DS_Store
.idea
*.log
tmp/

build/*
out/*
!build/build.ninja
!build/wueHans
build/wueHans/*
!build/wueHans/dummy.txt
!build/Desktop
build/Desktop/*
!build/Desktop/dummy.txt
code/assets/SML2.gb
code/assets/tetris.gb
